@model fitness.Models.Resource

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb-bg.jpg">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<div class="breadcrumb-text">
					<h2>@Model.Title</h2>
					<div class="bt-option">
						<a href="@Url.Action("Index","Home")">Home</a>
						<a href="@Url.Action("Index", "Resources")">Resources</a>
						<span>@Model.Title</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Breadcrumb Section End -->
<!-- Class Details Section Begin -->
<section class="class-details-section spad">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="class-details-text">
					<div class="cd-pic">
						<img src="~/Public/img/resources/@Model.Image" alt="">
					</div>
					<div class="cd-text">
						<div class="cd-single-item">
							<h3>@Model.Title</h3>
							<p>
								@Model.Content
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-8">
				<div class="sidebar-option">
					<div class="so-latest">
						<h5 class="title">Some Resources</h5>
						<div class="latest-large set-bg" data-setbg="img/resources/lat-pull-down.jpg" style="background-image: url(&quot;/Public/img/resources/lat-pull-down.jpg&quot;);">
							<div class="ll-text">
								<h5><a href="/Resources/Details/2">Lat pull-down</a></h5>
							</div>
						</div>
						<div class="latest-large set-bg" data-setbg="img/resources/cable-cross-over.jpg" style="background-image: url(&quot;/Public/img/resources/cable-cross-over.jpg&quot;);">
							<div class="ll-text">
								<h5><a href="/Resources/Details/3"> Cable cross-over</a></h5>
							</div>
						</div>
						<div class="latest-large set-bg" data-setbg="img/resources/cable-triceps-press-down.jpg" style="background-image: url(&quot;/Public/img/resources/cable-triceps-press-down.jpg&quot;);">
							<div class="ll-text">
								<h5><a href="/Resources/Details/4">Cable straight-arm pull-down</a></h5>
							</div>
						</div>
						<div class="latest-large set-bg" data-setbg="img/resources/incline-dumbbell-shoulder-press.jpg" style="background-image: url(&quot;/Public/img/resources/incline-dumbbell-shoulder-press.jpg&quot;);">
							<div class="ll-text">
								<h5><a href="/Resources/Details/5">Dumbbell shoulder press</a></h5>
							</div>
						</div>
					</div>
					<div class="so-banner set-bg" data-setbg="img/sidebar-banner.jpg">
						<h5>Banner 300x300</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Class Details Section End -->
@section title{
	<title>@Model.Title</title>
}
