@model fitness.Models.Diet_DayPerWeek

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Diet_DayPerWeek</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DayPerWeek.Day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DayPerWeek.Day)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DietPlan.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DietPlan.Title)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
