@model IEnumerable<fitness.Models.WorkOut>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WeightChange)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.minAge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.maxAge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ForGender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProgressTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Link)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WeightChange)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.minAge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.maxAge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ForGender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProgressTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Link)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
